.card {
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  transition: transform 0.2s;
  &-header {
    font-size: 1.5em;
    margin-bottom: 8px;
  }
  &-location,
  &-prize {
    font-size: 1em;
    color: #555555;
  }
}
